@model Meetinginfo;
@{
ViewBag.Title = "Toplantı Başvuru";
Layout="_Layout2";
}
<main class="text-center">
    <h1 class="h4">@ViewData["Selamlama"] ,@ViewData["UserName"]</h1>
    <h2>Toplantı Katılım Durumunuzu Bildiriniz</h2>
    <div class="card my-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.Location Mekan</li>
            <li class="list-group-item">@Model.Date.ToString("dd/MM/yyyy HH:mm:ss") Tarihinde Gerçekleşecek</li>
            <li class="list-group-item">@Model.NumberOfPeople Katılımcı</li>
        </ul>
    </div>
    <a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru Yap</a>
</main>